version: '3'
services:
  nginx:
    image: nginx:latest
    volumes:
      - ./registry.conf:/etc/nginx/conf.d/default.conf
    networks:
      - front
      - backend
    environment:
      - VIRTUAL_HOST=${VIRTUAL_HOST}
    restart: always

  registry:
    restart: always
    image: registry:2.7.1
    volumes:
      - /registry:/var/lib/registry
    networks:
      - backend

networks:
  front:
    external:
      name: front
  backend:
